.wrapper {
  padding: 0 20px;
  width: 700px;
  border-radius: 5px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  border-radius: 5px;
}
.title {
  display: flex;
  justify-content: center;
  background: #f8b54f;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.description {
  height: 400px;
  color: white;
  background: #4fa7b3;
  padding-top: 100px;
  border-radius: 0 0 5px 5px;
}
.redirect {
  outline: none;
  border: none;
  height: 40px;
  cursor: pointer;
  background: #f8b54f;
  color: white;
  width: 75px;
  border-radius: 5px;
  margin-top: 20px;
}
.redirect:hover {
  background: #eaab4b;
}
@media (max-width:699px){
  .wrapper {
    width: 100%;
  }
}